body {
  background-color: #ffffff;
  color: #1F2937;
  font-weight: 400;
  line-height: 1.7;
}

a,
a:visited {
  color: #6B5FD3;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #4F46C8;
  text-decoration: underline;
}

.navbar {
  background-color: #ffffff !important;
  border-bottom: 1px solid #E5E7EB;
}

.navbar .nav-link,
.navbar-brand {
  color: #1F2937 !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #6B5FD3 !important;
}

.page__content h1,
.page__content h2 {
  margin-top: 2.2rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #E5E7EB;
}

.page__content h2 {
  font-weight: 600;
}

.page__content ul {
  padding-left: 1.2em;
}

.page__content li {
  margin-bottom: 0.4em;
}

